:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white-p: hsla(0, 0%, 100%, 0.75);
  --very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lexend Deca", sans-serif;
}
.container {
  padding: 2rem;
}
.card {
  padding: 3rem;
}
h1 {
  margin-bottom: 2rem;
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--very-light-gray-background-headings-buttons);
}
p {
  margin-bottom: 4rem;
  font-size: 2rem;
  line-height: 1.4;
  color: var(--transparent-white-p);
}

.sedans {
  background-color: var(--bright-orange);
  border-radius: 1rem 1rem 0 0;
}
.suv {
  background: var(--dark-cyan);
}
.luxury {
  border-radius: 0 0 1rem 1rem;
  background: var(--very-dark-cyan);
}
.card a {
  text-decoration: none;
  color: var(--very-light-gray-background-headings-buttons);
  border: solid 0.2rem white;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.sedans a {
  color: var(--bright-orange);
}
.suv a {
  color: var(--dark-cyan);
}
.luxury a {
  color: var(--very-dark-cyan);
}
.sedans a:hover {
  color: white;
  background: var(--bright-orange);
}

.suv a:hover {
  color: white;
  background: var(--dark-cyan);
}

.luxury a:hover {
  color: white;
  background: var(--very-dark-cyan);
}
svg {
  margin-bottom: 2.5rem;
}

@media (min-width: 992px) {
  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: auto;
  }
  .sedans {
    border-radius: 1rem 0 0 1rem;
  }
  .luxury {
    border-radius: 0rem 1rem 1rem 0rem;
  }
  .card {
    padding: 4.5rem 4.5rem 3rem 4.5rem;
    height: 50rem;
  }
  .card a {
    margin-bottom: 5rem;
  }
  h1 {
    margin-bottom: 3rem;
  }
  svg {
    margin-bottom: 4rem;
  }
  p {
    margin-bottom: 9rem;
  }
}
